.footer {
	width: 100%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}



.footer__col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.menu-bottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu-bottom__item {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #1A1A1A;
	transition: 0.2s ease-in-out;
}

.menu-bottom__item:hover {
	color: #7B8E98;
}

.menu:hover {
	text-decoration: underline;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts__title {
	font-size: 32px;
	line-height: 20px;
	font-weight: 700;
	color: #1a1a1a;
	margin-top: 0;
	margin-bottom: 12px;
}

.contacts__link {
	text-decoration: none;
	color: currentColor;
	transition: 0.2s ease-in-out;
}

.contacts__link:hover {
	color: #F44336;
}

.contacts__tel {
	font-size: 20px;
	line-height: 24px;
	font-weight: 800;
	margin-bottom: 4px;
}


.socials {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 14px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.socials__link {
	display: flex;
	justify-content: center;
	opacity: 0.4;
	transition: opacity 0.3s;
}

.socials__link:hover {
	opacity: 1;
}
li.socials__item{
    background-color: white;
}


@media (max-width: 880px) {
	.footer__wrapper{
		font-size: 10px;
	}
	.contacts__title{
		font-size: 50px;
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
	}

	.col:last-child {
		grid-column-start: 2;
		grid-row-start: 1;
	}
}


@media (max-width: 768px) {
	.contacts__socials{
		text-align: center;
		justify-content: center;
	}
	.contacts__title{
		font-size: 33px;
	}
	.footer__wrapper a{
		font-size: 20px;
	}
	.socials__item{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contacts__whatsapp{
		text-align: center;
		padding-right: 5px;
	 
	}
	.footer__wrapper {
		display: flex;
		text-align: center;
		justify-content: center;
	}
}