.knives17{
    display: flex;
    justify-content: center;
}
/* Разделяем экран пополам */
.split {
   
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Контролируем левую половину */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Контролируем правую половину */
  .right {
    right: 0;
    background-color: red;
  }
  
  /* Если нужно, чтобы контент был выровнен по центру горизонтально и вертикально */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Стили изображения внутри отцентрированного контейнера */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }




